{{#description}}
    /**
    * {{{description}}}
    */
{{/description}}
export const {{classname}} = {
{{#allowableValues}}
{{#enumVars}}
    {{{name}}}: {{{value}}}{{^-last}},{{/-last}}
{{/enumVars}}
{{/allowableValues}}
}